<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <div>
        <div id="error"></div>
        <table id="dashboard">
            <thead>
                <tr>
                    <th>Participant</th>
                    <th>Visit 1</th>
                    <th>Days of Full Training</th>
                    <th>Visit 2 Scheduled</th>
                    <th>Visit 2</th>
                    <th>Dropped</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <div id="user-details" class="hidden"></div>
    </div>
</body>
</html>
