<table>
    <thead>
        <tr>
            <th>Study Activity</th>
            <th>Total Earned</th>
        </tr>
    </thead>
    <tbody>
        <tr class="pay-info-row">
            <td class="pay-info-study-activity">Visit #1 ($25)</td>
            <td class="pay-info-total-earned">{{#if visit1Earned}} ${{visit1Earned}} {{/if}}</td>
        </tr>
        <tr class="pay-info-row">
            <td class="pay-info-study-activity">20-min meditation practice(s) ($2 per practice)</td>
            <td class="pay-info-total-earned">{{#if breathingEarned}} ${{breathingEarned}} {{/if}}</td>
        </tr>
        <tr class="pay-info-row">
            <td class="pay-info-study-activity">Visit #2 ($25)</td>
            <td class="pay-info-total-earned">{{#if visit2Earned}} ${{visit2Earned}} {{/if}}</td>
        </tr>
        <tr class="pay-info-row">
            <td class="pay-info-study-activity">Total Amount</td>
            <td class="pay-info-total-earned">{{#if totalEarned}} ${{totalEarned}} {{/if}}</td>
        </tr>
    </tbody>
</table>
<br/>
<div>
    Earnings may not include activity from the past two days.
</div>
